name: workflow

on:
  push:
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y gcc make gcovr
    
    - name: Build
      run: make clean && make
    
    - name: Make test and coverage scripts executable
      run: |
        chmod +x tests/e2e/integration_test.sh scripts/generate_coverage.sh
    
    - name: Run unit tests
      run: make unit-test 2>&1 | tee unit_test_report.txt || true
    
    - name: Run integration tes
